<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.solve.isafe">

    <permission
        android:name="com.solve.task.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.example.task.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/capt"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activities.road1"></activity>
        <activity
            android:name=".Activities.Notifications"
            android:parentActivityName=".Activities.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Comments"
            android:parentActivityName=".Activities.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.road9" />
        <activity android:name=".Activities.road8" />
        <activity android:name=".Activities.road7" />
        <activity android:name=".Activities.road6" />
        <activity android:name=".Activities.road5" />
        <activity android:name=".Activities.road4" />
        <activity android:name=".Activities.road3" />
        <activity android:name=".Activities.road2" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:parentActivityName=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Agenda_Meeting"
            android:label="@string/title_activity_agenda__meeting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CreateEvent"
            android:parentActivityName=".Activities.HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.MeetingReport" />
        <activity android:name=".Activities.ChatMeeting" />
        <activity android:name=".Activities.CodeGenerator" />
        <activity
            android:name=".MarkAttendanceMap"
            android:parentActivityName=".Activities.HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MapActivity"
            android:parentActivityName=".Activities.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.FinalActivity" />
        <activity
            android:name=".Activities.ContactActivity"
            android:parentActivityName=".Activities.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CamActivity"
            android:parentActivityName=".Activities.HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Signup2"
            android:parentActivityName=".Activities.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.solve.isafe.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDY2mrggEo8DnFInHfk8srZi_4hpT3KK28" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Services.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />

        <receiver
            android:name=".Services.NotificationService$NotifyServiceReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped" />

        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>